 <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                       <h3>Download our App</h3>
                        <p>Download App for Android and ios mobile Phone.</p>
                        <div class="app-logo">
                            <img src="./images/play-store.png">
                            <img src="./images/app-store.png" alt="">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="./images/logo.png">
                         <p>Our Purpose is to sustainably make the pleasure and benefits of sports Accessible to the Many.</p>
                     </div>
                    
                     <div class="footer-col-4">
                        <h3>Follow Us</h3>
                        <ul>
                            <a href="https://www.linkedin.com/in/rajan-kumar-21b045242/" class="fa fa-linkedin" target="_blank"></a>
                            <a href="mailto:rajanranjan06254@gmail.com" class="fa fa-envelope"></a>
                            <a href="https://github.com/codewithrajan/" class="fa fa-github" target="_blank"></a>
                            <br>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-twitter"></a>
                        </ul>
                        </ul>
                     </div>
                </div>
                <hr>
                <p class="copyright">&copy; Copyright - Nikku</p>
            </div>
     </div>

 <script src="js\script.js"></script>