<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{!-- <title>Accounts | E-Commerce Website</title> --}}
 <title>{{#if title}}{{title}}{{else}}Welcome To Site{{/if}}</title>
<link rel="stylesheet" href="css/style.css">
<!--------------------------------------------Google Fonts Link Named-Poppins--------------------------------------->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<!--------------------------------------------Rating font cdn Link----------------------------------------------------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!---------------------------------------------------------->