<!--HTML FILES-->
<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
   {{>nav}}
    <!-------------------------ACCOUNT PAGE------------------------------------>
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="images\Register.png" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">

                            <h3 style="color:red; font-size:30px;"><u>Forgot Password</u></h3>
                            {{#if messages.error}}
                            <p style="color: red;">{{messages.error}}</p>
                            {{/if}}
                        </div>
                        <form id="RegForm" action="/forgot" method="post">

                            <input type="text" name="username" id="inputEmail4" placeholder=" Email or Username"
                                required>

                            <input type="password" name="password" id="inputPassword4" placeholder="New Password">

                            <input type="password" name="confirmPassword" id="inputPassword"
                                placeholder="Confirm Password">

                            <button type="submit" class="btn">Change Password</button>
                            <a href="/login">Already a user? <b><u>Login</u></b></a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------FOOTER----------------------------------------->

   
   {{>footer}}
    {{!-- <script src="js\script.js"></script> --}}
</body>

</html>